.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 120px;
}

.logo {
    width: 170px;
    height: 170px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 25px;
}

.nav-connect {
    padding: 15px 35px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img {
    display: flex;
    margin: auto;
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;
}

@media(max-width:768px) {
    .navbar {
        margin: 20px 50px;
    }
    .nav-connect {
        display: none;
    }
    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li {
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}

@media(max-width:480px) {
    .navbar {
        margin: 20px 20px;
        width: calc(100% - 40px);
        box-sizing: border-box;
        position: relative;
    }
    .logo {
        width: 35%;
        height: 15%;
    }
    .nav-connect {
        display: none;
    }
    .nav-mob-open {
        position: relative;
        right: auto;
        margin-left: auto;
        width: 30px;
        height: auto;
    }
    .nav-mob-close {
        left: auto;
        margin-left: auto;
        margin-right: 25px;
    }
    .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;

    width: 100vw;
    max-width: 100vw;
    height: 100vh;

    flex-direction: column;
    align-items: start;
    gap: 30px;

    background-color: #1f0016;
    z-index: 2;

    transition: right 0.5s;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    }
    .nav-menu li {
        padding-left: 40px;
        font-size: 25px;
    }
}

html,
body,
#root {
    max-width: 100%;
    overflow-x: hidden;
}